@model BasicRepository.Models.ViewModel.PersonnelModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Personnel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <input asp-for="Personnel.PersonnelId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Personnel.PersonnelName" class="control-label"></label>
                <input asp-for="Personnel.PersonnelName" class="form-control" />
                <span asp-validation-for="Personnel.PersonnelName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Personnel.PersonnelSurname" class="control-label"></label>
                <input asp-for="Personnel.PersonnelSurname" class="form-control" />
                <span asp-validation-for="Personnel.PersonnelSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select>
                    <option class="form-control" name="@Model.Personnel.CityId">

                    </option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.BtnVal" class="@Model.BtnClass" />
            </div>
            <div class="form-group">
                <a class="btn btn-warning" href="/Personnel/List">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
